.radio__title {
  @include font-roboto(Bold);
  margin-bottom: 10px;
}

.radio {
  @include inline-block(middle);
}

.radio__box {
  @include inline-block(middle);
  position: relative;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  background-color: $white;

  &:after {
    content:"";
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $blue;
  }
}

.input__radio {
  position: absolute;
  left: -1000px;

  &:checked {
    & + .radio__box:after {
      display: block;
    }
  }
}

.radio__text {
  cursor: pointer;
  @include inline-block(middle);
  margin-left: 10px;
}