
.menu {
  display: none;
  //display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 10;
  max-height: 100%;
  background-color: rgba(#38c6b1, .9);
  text-align: right;
}

.menu__list {
  text-align: center;
}

.menu__link {
  color: $white;
  padding-top: 20px;
  padding-bottom: 20px;

  &:before {
    background-color: rgba($white, .3);
  }
  &:after {
    background-color: rgba($white, .3);
  }
}

.close {
  @include inline-block(middle);
  @extend .icon-close;
  margin: 27px 27px 0 0;

}